:root{
--color-primario: #000000;
--color-secundario: #c73030;
--color-texto: #333;
--color-fondo: #f4f4f4;
--trancition-duration: 0.3s;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: var(--color-fondo);
    color: var(--color-texto);
}
header{
    background-color: var(--color-primario);
    padding: 20px;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
nav ul li{
    margin: 0 15px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: var(--trancition-duration);
}
nav ul li a:hover{
    color: var(--color-secundario);
}
/* Sección de Hero (Inicio)*/
main{
    flex: 1;
}
.hero{
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content:center;
    text-align: center;
}
.hero video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.hero-content{
    position: absolute;
    color: var(--color-texto-claro);
    padding: 0px 20px;
    text-align: center;
}

.hero-content h1{
    font-size: 3.5rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.979);
}
.hero content h2{
    font-size: 2rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.979);
color: var(--color-texto-claro);
color: #ffffff;

}

.btn{
    display: inline-block;
    margin: 15px 10px 0px 10px;
    margin-top: 20px;
    padding: 12px 25px;
    padding-inline: 30px;
    background: var(--color-principal);
    color: var(--color-texto-claro);
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: var(--transicion);
    color: #ffffff;
}

.btn:hover{
    background: var(--color-acento);
    color: #ff0000;
    transform: translateY(-2px);
}

.info{
    background-color: var(--color-principal);
    padding: 80px 20px;
    margin: 0 auto;
    text-align: center;
    color: var(--color-texto-claro);
}

.info h2{
    font-size: 2.5rem;
    margin-bottom: 20px;
}

footer{
    background-color: var(--color-principal);
    color: var(--color-texto-claro);
    text-align: center;
    padding: 20px;
}